.login input {
  padding: 6px;
  margin:  8px 0 10px;
  border: 2px solid #8a8a8a54;
}

.login button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: crimson;
  color: white;
  transition: all .2s ease-in-out;
}

.login button:hover {
  background-color: #9e0404;
}