.container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  align-items: flex-start;
  padding: 0 20px;
  margin-top: 50px;
  background-color: #f5f5f554;
  box-shadow: 4px 12px 26px 5px #00000054;
}

.toggle {
  padding: 20px 0 20px;
}

.toggle input[value='create']:checked
/* .authToggle input[value='create']:checked + label*/ {
  accent-color: #9e0404;
}

.toggle label {
  margin: 0 30px 0 10px;
}

.toggle label:last-child {
  color: #9e0404;
}

/** Signup */
.signUp input {
  padding: 4px;
  margin:  2px 0;
  border: 2px solid #8a8a8a54;
}

/** Login */
.login input {
  padding: 6px;
  margin:  8px 0 10px;
  border: 2px solid #8a8a8a54;
}

.login button, .signUp button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: crimson;
  color: white;
}

.login button:hover,
.signUp button:hover {
  background-color: #9e0404;
  transition: all .2s ease-in-out;
}